*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html,body{
  width:100%;
  height:100%;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
body {
  min-width: 1280px;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  overflow-x: auto;
}
ul{list-style:none}
a{text-decoration: none;} 
img{vertical-align:top;border:none}
 
.clearf:after,
.clearf:before{
  content:"";
  display:block;
  clear:both;
}
.clearf:after,

.el-header {
  padding: 0;
}
.el-aside {
  background-color: #D3DCE6;
  color: #333;
  overflow:hidden;
  transition: width 0.5s;
  -moz-transition: width 0.5s;	/* Firefox 4 */
  -webkit-transition: width 0.5s;	/* Safari å’Œ Chrome */
  -o-transition: width 0.5s;
}
.el-main {
  padding: 10px;
}
@-moz-document url-prefix() {
  .el-main {
    padding-bottom: 60px !important;
  }
}
.el-container {
  height: 100%;
}
table {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
  border-collapse: collapse;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #007ed5;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

em {
  font-style: normal;
  color: #aaa;
  font-size: 12px;
}

.clearfix {
  &:after {
    display: block;
    height: 0;
    font-size: 0;
    content: ' ';
    clear: both;
    visibility: hidden;
  }
}
.el-form-item--mini .el-form-item__label {
  font-size: 12px;
  text-align: left;
  width: 100px !important;
  color: #333;
}
.el-form-item--mini .el-form-item__content {
  width: 210px !important;
  .el-select,
  .el-select--mini,
  .el-range-editor.el-input__inner {
    width: 210px !important;
    border-radius: 0;
  }
  input {
    border-radius: 0;
  }
  .el-col {
    padding: 0 !important;
  }
}
.el-table th{
  background: #f5f5f5;
}

.el-container {
  height: 100%;
  .el-container /deep/ .el-scrollbar .el-scrollbar__wrap {
    overflow-x: hidden!important;
  }
}
.middleBorder {
  transition: all 1s;
}